.header {
    width: 100%;
    padding: 10px 25px;
    background-color: blue;
    margin-bottom: 2rem;
}

.header_title {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.header_title:hover {
    font-size: 25px;
    color: black;
}